@import '../../scss/variables.scss';
@import '../../scss/responsive-utils';

@mixin secondaryLabelSimple {
  color: $grey-color;
  position: absolute;
  right: 0;
}

.inputContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 200px;

  .labels {
    display: flex;
    padding-bottom: 8px;
    font-size: $font-size-xsmall;
    font-weight: $font-bold;
    color: $light-black-color;
    position: relative;

    .label {
      position: relative;
      left: 0;
    }

    .secondaryLabelClickable {
      @include secondaryLabelSimple();
      cursor: pointer;
    }

    .secondaryLabelClickable:hover {
      color: $light-black-color;
    }

    .secondaryLabel {
      @include secondaryLabelSimple();
    }
  }

  .input {
    border: 1px solid $grey-color;
    color: $light-black-color;
    padding: 6px 11px;
    border-radius: 4px;
    font-size: 12px;
    line-height: $font-size-xlg;
  }
}
