@import '../../scss/variables.scss';
@import '../../scss/responsive-utils';

.loginContainer {
  display: flex !important;
  height: 100% !important;
  position: fixed;
  min-height: 100%;
  width: 100%;

  .image {
    position: relative;
    height: 100%;
    width: auto;

    @include log-screen-special {
      display: none !important;
    }
  }
}
