$mint-color: #D9EDEA;
$super-orange-color: #ff4641;
$orange-color: #F4CEC3;
$light-orange-color: #FFF2EE;
$white-color: #F9F9F9;
$light-grey-color: #ECE7E6;
$grey-color: #CCC7CE;
$light-black-color: #58595B;
$black-color: #111111;


// fonts: Header font: cardo
// fonts: Body font: work sans
$font-thin: 100;
$font-light: 200;
$font-medium: 500;
$font-bold: 700;


$font-size-xxsmall: 10px;
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size: 16px;
$font-size-med: 18px;
$font-size-lg: 20px;
$font-size-xlg: 24px;
$font-size-xxlg: 30px;
$font-size-xxxlg: 40px;
$font-size-xxxxlg: 60px;


$screen-mobile: 375 !default;
$screen-md-min: 750px !default;
$screen-md-max: 900px !default;

