$mint-color: #d9edea;
$super-orange-color: #ff4641;
$orange-color: #f4cec3;
$light-orange-color: #fff2ee;
$white-color: #f9f9f9;
$light-grey-color: #ece7e6;
$grey-color: #ccc7ce;
$light-black-color: #58595b;
$black-color: #111111;

$font-thin: 100;
$font-normal: 300;
$font-bold: 500;

$font-size-xxsmall: 10px;
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size: 16px;
$font-size-med: 18px;
$font-size-lg: 20px;
$font-size-xlg: 24px;
$font-size-xxlg: 30px;
$font-size-xxxlg: 40px;
$font-size-xxxxlg: 60px;

$screen-mobile: 375 !default;
$screen-md-min: 750px !default;
$screen-md-max: 900px !default;
